hmtl {
    height: 100%;
}

body {
    background-color: black;
    height: 100%;
    font-weight: bold;
}

.jumbotron {
    background-color: rgba(188, 131, 253, 0.76);
    margin-bottom: -5px;
    border: black solid 5px;
    border-radius: 5px;
    font-weight: bold;
}

.container {
    background-color: rgb(255, 174, 0);
    border: black solid 2px;
    border-radius: 5px;
}

#card-img {
    background-color: rgba(98, 255, 221, 0.76);
    margin-right: 40px;
}

.navbar {
    border: black solid 5px;
    border-radius: 5px;
    background-color: rgb(255, 174, 0);
}

.work-title-text {
    font-size: 32px;
    display: flex;
    justify-content: center;
}

.center-content {
    display: flex;
    justify-content: center;
}

#contact-me {
    margin-top: -10px;
}

a {
    color: black;
}

.card-footer {
    text-decoration: underline;
}

#tech-background-1 {
    background-image: url(./AdobeStock_181381754.jpeg);
    background-size: 100%;
    margin-bottom: -5px;
    margin-top: -5px;
}

#tech-background-2 {
    background-image: url(./papers.co-ne79-coding-screen-digital-art-blue-3840x2160.jpg);
    background-size: 100%;
}