hmtl {
    height: 100%;
}

body {
    background-color: black;
    height: 100%;
}

.jumbotron {
    background-color: rgba(255, 98, 98, 0.76);
    margin-bottom: 5px;
    border: black solid 5px;
    border-radius: 5px;
}

.container {
    background-color: rgb(255, 174, 0);
    border: black solid 2px;
    border-radius: 5px;
}

#card-img {
    background-color: rgba(255, 98, 98, 0.76);
    margin-right: 40px;
}

.navbar {
    border: black solid 5px;
    border-radius: 5px;
    background-color: rgb(255, 174, 0);
}

.work-title-text {
    font-size: 32px;
    display: flex;
    justify-content: center;
}

.center-content {
    display: flex;
    justify-content: center;
}

#contact-me {
    margin-top: -5px;
}

a {
    color: black;
}

.card-footer {
    text-decoration: underline;
}


